// app global css
.text-lineColor {
  color: #00C300;
}
.bg-lineColor {
  background: #00C300;
}

// app global css
@font-face
  font-family SourceHanSansCN
  src url(./fonts/SourceHanSansCN-Medium.otf)

// declare a class which applies it
.cn-bold-font
  font-family 'SourceHanSansCN'

