// app global css
.text-lineColor {
  color: #00C300;
}
.bg-lineColor {
  background: #00C300;
}

.text-adminPrimary{
  color: #344955;
}
.bg-adminPrimary {
  background: #344955;
}

.text-adminTitle{
  color: #232F34;
}
.bg-adminTitle {
  background: #232F34;
}

.text-adminSecondary{
  color: #F9AA33;
}
.bg-adminSecondary {
  background: #F9AA33;
}

// app global css
@font-face
  font-family SourceHanSansCN
  src url(./fonts/webfont.woff)
  //src url(./fonts/SourceHanSansCN-Medium.otf)

// declare a class which applies it
.cn-bold-font
  font-family 'SourceHanSansCN'

